# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Jérôme Quelin <jquelin@gmail.com> Jerome Quelin <jquelin@gmail.com>
<kentnl@cpan.org> <kentfredric@gmail.com>
Ahmad M. Zawawi <ahmad.zawawi@gmail.com> Ahmad M. Zawawi <azawawi@ubuntu.(none)>
Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
